.css001 {
	width: 448.00px;
	margin-top: 0.00px;
	position: absolute;
}
.css002 {
	top: 0pt;
	position: absolute;
	left: 0pt;
}
.css003 {
	top: 11.171875pt;
	left: 20pt;
	clip: ;
	position: absolute;
}
.css004 {
	color: #FF0000;
	font-size: 10pt;
	font-family: Arial;
}
.css005 {
	width: 448.00px;
	margin-top: 644.00px;
	position: absolute;
}
.css006 {
	top: 0pt;
	left: 168pt;
	position: absolute;
}
.css007 {
	color: Black;
	font-weight: bold;
	font-size: 12pt;
	font-family: Arial;
}
.css008 {
	width: 645.33px;
	margin-top: 669.00px;
	position: absolute;
}
.css009 {
	top: 624.2098pt;
	left: 151.15959pt;
	clip: ;
	position: absolute;
}
.css010 {
	color: #000000;
	font-size: 7pt;
	font-family: TrumpMediaeval;
}
.css011 {
	top: 531.51447pt;
	left: 133.5118pt;
	clip: ;
	position: absolute;
}
.css012 {
	color: #000000;
	font-size: 22pt;
	font-family: AdvT685;
}
.css013 {
	top: 507.0761pt;
	left: 133.5118pt;
	clip: ;
	position: absolute;
}
.css014 {
	top: 482.7035pt;
	left: 133.5118pt;
	clip: ;
	position: absolute;
}
.css015 {
	top: 458.26514pt;
	left: 133.5118pt;
	clip: ;
	position: absolute;
}
.css016 {
	top: 433.89258pt;
	left: 133.5118pt;
	clip: ;
	position: absolute;
}
.css017 {
	top: 395.7993pt;
	left: 133.5118pt;
	clip: ;
	position: absolute;
}
.css018 {
	color: #000000;
	font-size: 18pt;
	font-family: AdvT685;
}
.css019 {
	top: 289.29526pt;
	left: 133.5118pt;
	clip: ;
	position: absolute;
}
.css020 {
	color: #000000;
	font-size: 24pt;
	font-family: AdvT685;
}
.css021 {
	top: 178.84084pt;
	left: 133.5118pt;
	clip: ;
	position: absolute;
}
.css022 {
	color: #000000;
	font-size: 63.5pt;
	font-family: AdvT685;
}
.css023 {
	top: 127.02028pt;
	left: 133.5118pt;
	clip: ;
	position: absolute;
}
.css024 {
	top: 109.572876pt;
	left: 144.1134pt;
	clip: ;
	position: absolute;
}
.css025 {
	color: #FFFFFF;
	font-size: 17.5pt;
	font-family: AdvP403FE;
}
.css026 {
	top: -8.181285pt;
	left: 87.5906pt;
	clip: ;
	position: absolute;
}
.css027 {
	color: #000000;
	font-size: 6pt;
	font-family: AdvP403FE;
}
.css028 {
	width: 645.33px;
	margin-top: 1598.33px;
	position: absolute;
}
.css029 {
	top: 0pt;
	left: 242pt;
	position: absolute;
}
.css030 {
	width: 645.33px;
	margin-top: 1623.33px;
	position: absolute;
}
.css031 {
	top: -8.181285pt;
	left: 80.504pt;
	clip: ;
	position: absolute;
}
.css032 {
	width: 645.33px;
	margin-top: 2552.67px;
	position: absolute;
}
.css033 {
	width: 645.33px;
	margin-top: 2577.67px;
	position: absolute;
}
.css034 {
	top: 171.29398pt;
	left: 133.5118pt;
	clip: ;
	position: absolute;
}
.css035 {
	color: #000000;
	font-size: 56pt;
	font-family: AdvT685;
}
.css036 {
	top: 126.438324pt;
	left: 133.5118pt;
	clip: ;
	position: absolute;
}
.css037 {
	top: 110.69201pt;
	left: 139.8047pt;
	clip: ;
	position: absolute;
}
.css038 {
	color: #FFFFFF;
	font-size: 15pt;
	font-family: AdvP403FE;
}
.css039 {
	width: 645.33px;
	margin-top: 3507.00px;
	position: absolute;
}
.css040 {
	width: 645.33px;
	margin-top: 3532.00px;
	position: absolute;
}
.css041 {
	top: 80.19444pt;
	left: 137.9906pt;
	clip: ;
	position: absolute;
}
.css042 {
	color: #000000;
	font-size: 14pt;
	font-family: AdvP403FE;
}
.css043 {
	color: #000000;
	font-size: 14pt;
	font-family: AdvP40599;
}
.css044 {
	top: 65.51523pt;
	left: 216.2835pt;
	clip: ;
	position: absolute;
}
.css045 {
	color: #000000;
	font-size: 10pt;
	font-family: AdvP403FF;
}
.css046 {
	width: 645.33px;
	margin-top: 4461.33px;
	position: absolute;
}
.css047 {
	width: 645.33px;
	margin-top: 4486.33px;
	position: absolute;
}
.css048 {
	width: 645.33px;
	margin-top: 5415.67px;
	position: absolute;
}
.css049 {
	width: 645.33px;
	margin-top: 5440.67px;
	position: absolute;
}
.css050 {
	top: 576.2677pt;
	left: 236.6314pt;
	clip: ;
	position: absolute;
}
.css051 {
	color: #000000;
	font-size: 8pt;
	font-family: AdvP403FE;
}
.css052 {
	top: 576.2677pt;
	left: 248.99318pt;
	clip: ;
	position: absolute;
}
.css053 {
	top: 558.2949pt;
	left: 215.65382pt;
	clip: ;
	position: absolute;
}
.css054 {
	top: 549.33636pt;
	left: 135.37798pt;
	clip: ;
	position: absolute;
}
.css055 {
	top: 531.4194pt;
	left: 131.75154pt;
	clip: ;
	position: absolute;
}
.css056 {
	top: 513.5024pt;
	left: 229.65749pt;
	clip: ;
	position: absolute;
}
.css057 {
	top: 504.48807pt;
	left: 226.7643pt;
	clip: ;
	position: absolute;
}
.css058 {
	top: 495.52954pt;
	left: 224.61235pt;
	clip: ;
	position: absolute;
}
.css059 {
	top: 486.57104pt;
	left: 145.46825pt;
	clip: ;
	position: absolute;
}
.css060 {
	top: 486.57104pt;
	left: 154.53833pt;
	clip: ;
	position: absolute;
}
.css061 {
	top: 477.61255pt;
	left: 81.69071pt;
	clip: ;
	position: absolute;
}
.css062 {
	top: 468.65402pt;
	left: 172.00105pt;
	clip: ;
	position: absolute;
}
.css063 {
	top: 459.6955pt;
	left: 240.54478pt;
	clip: ;
	position: absolute;
}
.css064 {
	top: 450.6812pt;
	left: 104.65289pt;
	clip: ;
	position: absolute;
}
.css065 {
	top: 432.76422pt;
	left: 167.41025pt;
	clip: ;
	position: absolute;
}
.css066 {
	color: #000000;
	font-size: 8pt;
	font-family: AdvP403FF;
}
.css067 {
	top: 414.84717pt;
	left: 129.99016pt;
	clip: ;
	position: absolute;
}
.css068 {
	top: 405.88867pt;
	left: 83.89848pt;
	clip: ;
	position: absolute;
}
.css069 {
	top: 396.93018pt;
	left: 75.17111pt;
	clip: ;
	position: absolute;
}
.css070 {
	top: 387.9159pt;
	left: 76.86877pt;
	clip: ;
	position: absolute;
}
.css071 {
	top: 378.9574pt;
	left: 81.74653pt;
	clip: ;
	position: absolute;
}
.css072 {
	top: 369.9989pt;
	left: 76.478226pt;
	clip: ;
	position: absolute;
}
.css073 {
	top: 361.0404pt;
	left: 87.36552pt;
	clip: ;
	position: absolute;
}
.css074 {
	top: 343.1234pt;
	left: 166.73277pt;
	clip: ;
	position: absolute;
}
.css075 {
	top: 334.10913pt;
	left: 94.05252pt;
	clip: ;
	position: absolute;
}
.css076 {
	top: 316.19208pt;
	left: 172.63072pt;
	clip: ;
	position: absolute;
}
.css077 {
	top: 307.23358pt;
	left: 104.42972pt;
	clip: ;
	position: absolute;
}
.css078 {
	top: 298.2751pt;
	left: 88.84001pt;
	clip: ;
	position: absolute;
}
.css079 {
	top: 289.3166pt;
	left: 82.03346pt;
	clip: ;
	position: absolute;
}
.css080 {
	top: 271.3438pt;
	left: 122.40253pt;
	clip: ;
	position: absolute;
}
.css081 {
	top: 262.3838pt;
	left: 101.88246pt;
	clip: ;
	position: absolute;
}
.css082 {
	top: 253.4253pt;
	left: 97.0047pt;
	clip: ;
	position: absolute;
}
.css083 {
	top: 235.5083pt;
	left: 163.8986pt;
	clip: ;
	position: absolute;
}
.css084 {
	top: 226.55774pt;
	left: 123.81647pt;
	clip: ;
	position: absolute;
}
.css085 {
	top: 217.54346pt;
	left: 87.30498pt;
	clip: ;
	position: absolute;
}
.css086 {
	top: 199.6264pt;
	left: 128.29572pt;
	clip: ;
	position: absolute;
}
.css087 {
	top: 190.66791pt;
	left: 167.41345pt;
	clip: ;
	position: absolute;
}
.css088 {
	top: 190.66791pt;
	left: 187.37083pt;
	clip: ;
	position: absolute;
}
.css089 {
	top: 181.70941pt;
	left: 164.86299pt;
	clip: ;
	position: absolute;
}
.css090 {
	top: 181.70941pt;
	left: 180.39691pt;
	clip: ;
	position: absolute;
}
.css091 {
	top: 172.75201pt;
	left: 223.3701pt;
	clip: ;
	position: absolute;
}
.css092 {
	top: 154.78125pt;
	left: 176.88347pt;
	clip: ;
	position: absolute;
}
.css093 {
	top: 145.82275pt;
	left: 138.3874pt;
	clip: ;
	position: absolute;
}
.css094 {
	top: 136.8653pt;
	left: 221.8394pt;
	clip: ;
	position: absolute;
}
.css095 {
	top: 118.956665pt;
	left: 67.98005pt;
	clip: ;
	position: absolute;
}
.css096 {
	top: 109.99817pt;
	left: 66.282394pt;
	clip: ;
	position: absolute;
}
.css097 {
	top: 92.02539pt;
	left: 164.98535pt;
	clip: ;
	position: absolute;
}
.css098 {
	top: 83.066895pt;
	left: 145.19534pt;
	clip: ;
	position: absolute;
}
.css099 {
	top: 74.1084pt;
	left: 84.53415pt;
	clip: ;
	position: absolute;
}
.css100 {
	color: #000000;
	font-size: 8pt;
	font-family: AdvPi3;
}
.css101 {
	top: 74.1084pt;
	left: 94.85556pt;
	clip: ;
	position: absolute;
}
.css102 {
	top: 65.1499pt;
	left: 108.28534pt;
	clip: ;
	position: absolute;
}
.css103 {
	top: 65.1499pt;
	left: 118.60675pt;
	clip: ;
	position: absolute;
}
.css104 {
	top: 56.191406pt;
	left: 187.5968pt;
	clip: ;
	position: absolute;
}
.css105 {
	width: 645.33px;
	margin-top: 6370.00px;
	position: absolute;
}
.css106 {
	width: 645.33px;
	margin-top: 6395.00px;
	position: absolute;
}
.css107 {
	top: 640.67993pt;
	left: 413.97162pt;
	clip: ;
	position: absolute;
}
.css108 {
	color: #000000;
	font-size: 9pt;
	font-family: AdvP446FD7;
}
.css109 {
	top: 264.78464pt;
	left: 47.848892pt;
	clip: ;
	position: absolute;
}
.css110 {
	color: #000000;
	font-size: 10pt;
	font-family: AdvP403FE;
}
.css111 {
	top: 264.78464pt;
	left: 401.89972pt;
	clip: ;
	position: absolute;
}
.css112 {
	top: 246.8121pt;
	left: 47.848892pt;
	clip: ;
	position: absolute;
}
.css113 {
	top: 246.8121pt;
	left: 401.88977pt;
	clip: ;
	position: absolute;
}
.css114 {
	top: 228.89938pt;
	left: 47.848892pt;
	clip: ;
	position: absolute;
}
.css115 {
	top: 228.89938pt;
	left: 412.8885pt;
	clip: ;
	position: absolute;
}
.css116 {
	top: 210.9866pt;
	left: 47.848892pt;
	clip: ;
	position: absolute;
}
.css117 {
	top: 210.9866pt;
	left: 405.97443pt;
	clip: ;
	position: absolute;
}
.css118 {
	top: 193.01407pt;
	left: 47.848892pt;
	clip: ;
	position: absolute;
}
.css119 {
	top: 193.01407pt;
	left: 405.35675pt;
	clip: ;
	position: absolute;
}
.css120 {
	top: 175.10129pt;
	left: 47.848892pt;
	clip: ;
	position: absolute;
}
.css121 {
	top: 175.10129pt;
	left: 410.73657pt;
	clip: ;
	position: absolute;
}
.css122 {
	top: 157.1885pt;
	left: 47.848892pt;
	clip: ;
	position: absolute;
}
.css123 {
	top: 157.1885pt;
	left: 413.45642pt;
	clip: ;
	position: absolute;
}
.css124 {
	top: 139.21597pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css125 {
	top: 139.21597pt;
	left: 410.96576pt;
	clip: ;
	position: absolute;
}
.css126 {
	top: 54.83509pt;
	left: 176.315pt;
	clip: ;
	position: absolute;
}
.css127 {
	color: #000000;
	font-size: 30pt;
	font-family: AdvT281;
}
.css128 {
	width: 645.33px;
	margin-top: 7324.33px;
	position: absolute;
}
.css129 {
	width: 645.33px;
	margin-top: 7349.33px;
	position: absolute;
}
.css130 {
	top: 640.67993pt;
	left: 66.274pt;
	clip: ;
	position: absolute;
}
.css131 {
	top: 624.23724pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css132 {
	color: #000000;
	font-size: 9pt;
	font-family: AdvP403FE;
}
.css133 {
	top: 614.25775pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css134 {
	top: 604.27826pt;
	left: 75.20442pt;
	clip: ;
	position: absolute;
}
.css135 {
	top: 594.3615pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css136 {
	top: 584.382pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css137 {
	top: 574.4025pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css138 {
	top: 564.42303pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css139 {
	top: 554.5063pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css140 {
	top: 544.5268pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css141 {
	top: 534.5473pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css142 {
	top: 524.5678pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css143 {
	color: #000000;
	font-size: 9pt;
	font-family: AdvP403FF;
}
.css144 {
	top: 514.6511pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css145 {
	top: 504.6716pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css146 {
	top: 494.6921pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css147 {
	top: 484.7754pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css148 {
	top: 474.7959pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css149 {
	top: 464.8164pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css150 {
	top: 454.8369pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css151 {
	top: 444.92017pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css152 {
	top: 434.94067pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css153 {
	top: 424.96118pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css154 {
	top: 414.9817pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css155 {
	top: 405.065pt;
	left: 75.20442pt;
	clip: ;
	position: absolute;
}
.css156 {
	top: 395.0855pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css157 {
	top: 385.10602pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css158 {
	top: 375.18927pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css159 {
	top: 365.20978pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css160 {
	top: 355.2303pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css161 {
	top: 345.2508pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css162 {
	top: 335.3341pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css163 {
	top: 325.3546pt;
	left: 66.24707pt;
	clip: ;
	position: absolute;
}
.css164 {
	top: 315.37512pt;
	left: 66.24707pt;
	clip: ;
	position: absolute;
}
.css165 {
	top: 305.39563pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css166 {
	top: 295.47888pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css167 {
	top: 285.4994pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css168 {
	top: 275.5199pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css169 {
	top: 265.6032pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css170 {
	top: 255.62372pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css171 {
	top: 245.64423pt;
	left: 75.20442pt;
	clip: ;
	position: absolute;
}
.css172 {
	top: 235.66473pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css173 {
	top: 225.74799pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css174 {
	top: 215.7685pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css175 {
	top: 205.789pt;
	left: 66.247086pt;
	clip: ;
	position: absolute;
}
.css176 {
	top: 195.80951pt;
	left: 66.247055pt;
	clip: ;
	position: absolute;
}
.css177 {
	top: 185.89276pt;
	left: 66.265pt;
	clip: ;
	position: absolute;
}
.css178 {
	top: 175.91327pt;
	left: 66.26503pt;
	clip: ;
	position: absolute;
}
.css179 {
	top: 165.93378pt;
	left: 66.274pt;
	clip: ;
	position: absolute;
}
.css180 {
	top: 155.95428pt;
	left: 66.274pt;
	clip: ;
	position: absolute;
}
.css181 {
	top: 146.03754pt;
	left: 66.274pt;
	clip: ;
	position: absolute;
}
.css182 {
	top: 136.05804pt;
	left: 66.274pt;
	clip: ;
	position: absolute;
}
.css183 {
	top: 126.07856pt;
	left: 66.274pt;
	clip: ;
	position: absolute;
}
.css184 {
	top: 54.83509pt;
	left: 85.6063pt;
	clip: ;
	position: absolute;
}
.css185 {
	width: 645.33px;
	margin-top: 8278.67px;
	position: absolute;
}
.css186 {
	width: 645.33px;
	margin-top: 8303.67px;
	position: absolute;
}
.css187 {
	top: 640.67993pt;
	left: 408.9259pt;
	clip: ;
	position: absolute;
}
.css188 {
	top: 624.2359pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css189 {
	top: 614.2564pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css190 {
	top: 604.2769pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css191 {
	top: 594.36017pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css192 {
	top: 584.3807pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css193 {
	top: 574.4012pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css194 {
	top: 564.4217pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css195 {
	top: 554.50494pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css196 {
	top: 544.52545pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css197 {
	top: 534.54596pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css198 {
	top: 524.56647pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css199 {
	top: 514.6498pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css200 {
	top: 504.67026pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css201 {
	top: 494.69077pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css202 {
	top: 484.77405pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css203 {
	top: 474.79456pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css204 {
	top: 464.81506pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css205 {
	top: 454.83557pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css206 {
	top: 444.91882pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css207 {
	top: 434.93933pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css208 {
	top: 424.95984pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css209 {
	top: 414.98035pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css210 {
	top: 405.06366pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css211 {
	top: 395.08417pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css212 {
	top: 385.10468pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css213 {
	top: 375.18793pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css214 {
	top: 365.20844pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css215 {
	top: 355.22894pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css216 {
	top: 345.24945pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css217 {
	top: 335.33276pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css218 {
	top: 325.35327pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css219 {
	top: 315.37378pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css220 {
	top: 305.3943pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css221 {
	top: 295.47754pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css222 {
	top: 285.49805pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css223 {
	top: 275.51855pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css224 {
	top: 265.60187pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css225 {
	top: 255.62238pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css226 {
	top: 245.64288pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css227 {
	top: 235.66339pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css228 {
	top: 225.74664pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css229 {
	top: 215.76715pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css230 {
	top: 205.78766pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css231 {
	top: 195.80817pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css232 {
	top: 185.89142pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css233 {
	top: 175.91193pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css234 {
	top: 165.93243pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css235 {
	top: 155.95294pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css236 {
	top: 146.0362pt;
	left: 56.806236pt;
	clip: ;
	position: absolute;
}
.css237 {
	top: 136.0567pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css238 {
	top: 126.07722pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css239 {
	top: 116.16047pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css240 {
	top: 106.18098pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css241 {
	top: 96.201485pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css242 {
	top: 86.22199pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css243 {
	top: 76.305244pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css244 {
	top: 66.32575pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css245 {
	top: 56.346256pt;
	left: 47.8489pt;
	clip: ;
	position: absolute;
}
.css246 {
	top: 40.94877pt;
	left: 306.99213pt;
	clip: ;
	position: absolute;
}
.css247 {
	color: #000000;
	font-size: 7.5pt;
	font-family: AdvP446FD7;
}
.css248 {
	width: 645.33px;
	margin-top: 9233.00px;
	position: absolute;
}
sup {
	top: -0.3em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.3em;
	vertical-align: baseline;
	position: relative;
}
